<!-- WALLET PANEL START-->
<div class="col-md-9 subsection wallet-panel">
    <h3 class="subsection-head">{{walletDetailCtrl.selectedWallet.name}}</h3>
    <div class="subsection-body">
        <div class="form-group">
            <div class="row">
                <div class="col-md-2 col-md-offset-10 selected-wallet-balance">
                    <h2>BALANCE</h2><h2>{{walletDetailCtrl.selectedWallet.balance}} <span class="glyphicon glyphicon-bitcoin"></span></h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h4>Your address</h4>
                    <input class="form-control input-lg" type="text" name="country"
                           value="{{walletDetailCtrl.selectedWallet.address}}" readonly>
                    <h1></h1>
                    <h4>Recipent address</h4>
                    <input class="form-control input-lg" type="text" name="country" value="">
                    <h1></h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <h4>Amount to send</h4>
                    <div class="col-md-2 no-margin no-padding">
                        <input class="form-control input-lg" type="text" name="country" ng-model="walletDetailCtrl.ammountToSend">
                    </div>
                    <div class="col-md-1">
                        <h4>BTC</h4>
                    </div>
                    <div class="col-md-1">
                        <h4>=</h4>
                    </div>
                    <div class="col-md-2 no-margin no-padding">
                        <input class="form-control input-lg" type="text" name="country" value="{{walletDetailCtrl.ammountToSend * walletDetailCtrl.btcPrice | number: 2}}">
                    </div>
                    <div class="col-md-1">
                        <h4>USD</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div ng-click="walletDetailCtrl.generateTransaction()" class="col-md-3 col-md-offset-9 btn btn-warning btn-lg make-transaction-btn">
                    Generate transaction <span class="glyphicon glyphicon-arrow-right"></span>
                </div>
            </div>
        </div>
        <h4></h4>
    </div>
</div>
<!--/WALLET PANEL END-->
</div>