@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

@-moz-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -ms-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -ms-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}


.bounce {
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}





@-webkit-keyframes rotate-one-time /* Safari and Chrome */ {
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotate-one-time {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.rotate-one-time {
    -webkit-animation: rotate-one-time 0.7s ease-out;
    -moz-animation: rotate-one-time 0.7s ease-out;
    -ms-animation: rotate-one-time 0.7s ease-out;
    -o-animation: rotate-one-time 0.7s ease-out;
    animation: rotate-one-time 0.7s ease-out;
}