.center-modal {
    position: fixed;
    top: 20%;
    left: 10%;
    z-index: 1050;
    width: 80%;
    height: 80%;
}

.create-wallet-modal-header{
    color: #626263;
    background-color: #fafafa;
}

.modal-body{
    background-color: #fafafa;
}

.modal-footer{
    background-color: #fafafa;
}

.close-modal-icon{
    position:absolute;
    right:0;
    color: gray;
}

.close-modal-icon:hover{
    color: #f08e43;
}


.fade-element-in.ng-enter {
    transition: 0.8s linear all;
    opacity: 0;
}

.fade-element-in-init .fade-element-in.ng-enter {
    opacity: 1;
}

.fade-element-in.ng-enter.ng-enter-active {
    opacity: 1;
}

.fade-element-in.ng-leave {
    transition: 0s linear all;
    opacity: 1;
}
.fade-element-in.ng-leave.ng-leave-active {
    opacity: 0;
}
