<div class="modal-content">

    <div class="modal-header create-wallet-modal-header">
        <h3 class="text-center" style="letter-spacing: 0.2em;">CREATE NEW WALLET</h3>
        <span ng-click="newWalletModalCtrl.close()" class="glyphicon glyphicon-remove-sign btn-lg close-modal-icon close-modal-icon"></span>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-8 col-md-offset-2" style="color: gray;">
                <form name="form" ng-submit="newWalletModalCtrl.generateWallet()" role="form">
                    <div class="form-group" ng-class="{ 'has-error': form.alias.$dirty && form.alias.$error.required}">
                        <h4>Wallet alias</h4>
                        <input class="form-control input-lg text-center" type="text" name="alias" id="alias" class="form-control" ng-model="newWalletModalCtrl.newWallet.alias" required />
                        <span ng-show="form.alias.$dirty && form.alias.$error.required" class="help-block">Alias is required</span>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required}">
                        <h4>Wallet password</h4>
                        <input class="form-control input-lg text-center" type="password" name="password" id="password" class="form-control" ng-model="newWalletModalCtrl.newWallet.password" required />
                        <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
                    </div>
                    {{newWalletModalCtrl.responsee}}
                    <div class="text-center form-actions">
                        <button ng-disabled="form.$invalid" style="margin-top: 25px; border-radius: 50px; margin-bottom: 20px;" type="submit" class="btn btn-lg btn-success"><span class="glyphicon glyphicon-plus-sign"></span> Create new wallet</button>
                        <!--<img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />-->
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="newWalletModalCtrl.close()">Cancel</button>

    </div>
</div>