<div class="container-fluid">




    <div class="row">
        <div class="col-md-8 col-md-offset-2 main-section">
            <div class="row">
                <div class="col-md-3">
                    <h2 class="heading">Your account</h2>
                    <h4 class="subheading">{{walletListCtrl.loggedInUser.firstName}} {{walletListCtrl.loggedInUser.lastName}} ({{walletListCtrl.getTotalBitcoinAmmount()}})</h4>
                </div>

                <div style="float: right; margin-top: 30px; margin-left: 70px;" class="col-md-7 cl-effect-5">
                    <a href="#!/wallets"><span style="width: 150px" data-hover="Wallets">Wallets</span></a>
                    <a href="#!/transactions"><span style="width: 180px" data-hover="Transaction list">Transaction list</span></a>
                    <a href="#!/contacts"><span style="width: 150px" data-hover="Address book">Address book</span></a>
                </div>
            </div>


                <div class="col-md-3 subsection">
                    <h3 class="subsection-head">Wallets</h3>
                    <div class="wallets-body">
                        <div ng-repeat="wallet in walletListCtrl.wallets | filter:walletListCtrl.query | orderBy:walletListCtrl.orderProp">
                            <!--<a href="#!/wallets/{{wallet.id}}">-->
                            <div ng-mouseover="walletListCtrl.showRemoveSign()" ng-mouseleave="walletListCtrl.hideRemoveSign()" ng-click="walletListCtrl.selectedWallet = wallet" class="col-md-12 wallet-item">
                                <h4 class="wallet-heading">{{wallet.name}}</h4>
                                <h4 class="wallet-balance">{{wallet.balance}} BTC </h4>
                                <span ng-if="walletListCtrl.isRemoveSignVisible" ng-click="walletListCtrl.deleteWallet(wallet)" style="position: absolute; right: 15px; top: 30px;"
                                      class="glyphicon glyphicon-remove remove-wallet">
                                </span>

                                <!--<img ng-src="{{wallet.imageUrl}}" alt="{{phone.name}}" />-->
                            </div>

                        </div>
                    </div>
                    <div class="col-md-12 wallets-footer">
                        <div ng-click="walletListCtrl.modal()" class="btn btn-success">
                            <span class="glyphicon glyphicon-plus-sign"></span> Create new wallet
                        </div>
                    </div>
                </div>

            <!-- WALLET PANEL START-->
                <div class="col-md-9 subsection wallet-panel">
                    <h3 class="subsection-head">{{walletListCtrl.selectedWallet.name}}</h3>
                    <div class="subsection-body">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2 col-md-offset-10 selected-wallet-balance">
                                    <h2>BALANCE</h2><h2 style="font-family: sourceSansPro-Semibold;">{{walletListCtrl.selectedWallet.balance}} <span class="glyphicon glyphicon-bitcoin"></span></h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <h4>Your address</h4>
                                    <input class="form-control input-lg" type="text" name="country"
                                           value="{{walletListCtrl.selectedWallet.address}}" readonly>
                                    <h1></h1>
                                    <h4>Recipent address</h4>
                                    <input class="form-control input-lg" type="text" name="country" value="">
                                    <h1></h1>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-10">
                                    <h4>Amount to send</h4>
                                    <div class="col-md-2 no-margin no-padding">
                                        <input class="form-control input-lg" type="text" name="country" ng-model="walletListCtrl.ammountToSend">
                                    </div>
                                    <div class="col-md-1">
                                        <h4>BTC</h4>
                                    </div>
                                    <div class="col-md-1">
                                        <h4>=</h4>
                                    </div>
                                    <div class="col-md-2 no-margin no-padding">
                                        <input class="form-control input-lg" type="text" name="country" value="{{walletListCtrl.ammountToSend * walletListCtrl.btcPrice | number: 2}}">
                                    </div>
                                    <div class="col-md-1">
                                        <h4>USD</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div ng-click="walletListCtrl.generateTransaction()" class="col-md-3 col-md-offset-9 btn btn-warning btn-lg make-transaction-btn">
                                    Generate transaction <span class="glyphicon glyphicon-arrow-right"></span>
                                </div>
                            </div>
                        </div>
                        <h4></h4>
                    </div>
                </div>
                <!--/WALLET PANEL END-->



        </div>
    </div>


</div>


</div>