<div class="container-fluid" ng-show="transactionListCtrl.authenticated">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 main-section">
            <div class="row">
                <div class="col-md-4">
                    <h2 class="heading">{{transactionListCtrl.loggedInUser.email}}</h2>
                    <h4 class="subheading"> (Total: {{transactionListCtrl.totalBitcoinAmount | number: 6}} BTC = {{transactionListCtrl.totalBitcoinAmount * transactionListCtrl.btcPrice | number: 2}} $)</h4>
                </div>

                <div style="float: right; margin-top: 30px; margin-left: 70px;" class="col-md-7 cl-effect-5">
                    <a href="#!/wallets"><span style="width: 150px" data-hover="Wallets">Wallets</span></a>
                    <a href="#!/transactions"><span style="width: 180px" data-hover="Transaction list">Transaction list</span></a>
                    <a href="#!/contacts"><span style="width: 150px" data-hover="Address book">Address book</span></a>
                </div>
            </div>

             <!--TRANSACTION LIST START-->

            <div class="col-md-12 subsection wallet-panel">
                <h3 class="subsection-head">Transaction list</h3>
                <div class="subsection-body">
                    <div class="row">
                        <div class="col-md-12 transactions-table">
                            <table class="table">
                                <thead>
                                <tr style="font-family: sourceSansPro-Regular;">
                                    <th style="width: 3%"class="text-muted">#</th>
                                    <th style="width: 10%">TxHash</th>
                                    <th style="width: 30%">From</th>
                                    <th style="width: 30%">To</th>
                                    <th style="width: 8%;">Amount</th>
                                    <th style="width: 14%">Date</th>
                                    <th style="width: 12%;">Status</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="tx in transactionListCtrl.transactions">
                                    <th>{{$index + 1}}</th>
                                    <td><a class="table-link" href="https://www.blocktrail.com/tBTC/tx/{{tx.hash}}">{{tx.hash}}</a></td>
                                    <td><a href="https://www.blocktrail.com/tBTC/address/{{tx.sourceAddress}}">{{tx.sourceAddress===tx.address.address?tx.address.address:tx.sourceAddress}}</a></td>
                                    <td>
                                        <a href="https://www.blocktrail.com/tBTC/address/{{tx.destinationAddress}}">{{tx.destinationAddress===tx.address.address?tx.address.address:tx.destinationAddress}}</a>
                                        - {{tx.destinationAddress===tx.address.address?tx.address.alias:""}}
                                    </td>
                                    <td style="font-family: sourceSansPro-Semibold">{{tx.amount}}</td>
                                    <td>{{tx.createdAt | date: 'dd-MM-yyyy - HH:mm:ss'}}</td>
                                    <td ng-if="tx.status ==='CONFIRMED'" class="text-success"><span class="glyphicon btn-xs glyphicon-ok-circle"></span> {{tx.status}}</td>
                                    <td ng-if="tx.status ==='PREPARED'" class="text-warning"><span class="glyphicon btn-xs glyphicon-unchecked"></span> {{tx.status}}</td>
                                    <td ng-if="tx.status ==='UNCONFIRMED'" class="text-danger"><span class="glyphicon btn-xs glyphicon-remove-circle"></span> {{tx.status}}</td>
                                    <td ng-if="tx.status ==='SIGNED'" class="text-info"><span class="glyphicon btn-xs glyphicon-pencil"></span> {{tx.status}}</td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                    <h4></h4>
                </div>
            </div>
        </div>
    </div>


</div>


</div>