<div class="container-fluid">




    <div class="row">
        <div class="col-md-8 col-md-offset-2 main-section">
            <div class="row">
                <div class="col-md-3">
                    <h2 class="heading">Your account</h2>
                    <h4 class="subheading">{{txCtrl.loggedInUser.firstName}} {{txCtrl.loggedInUser.lastName}} ({{txCtrl.getTotalBitcoinAmmount()}})</h4>
                </div>

                <div style="float: right; margin-top: 30px; margin-left: 70px;" class="col-md-7 cl-effect-5">
                    <a href="#!/wallets"><span style="width: 150px" data-hover="Wallets">Wallets</span></a>
                    <a href="#!/transactions"><span style="width: 180px" data-hover="Transaction list">Transaction list</span></a>
                    <a href="#!/contacts"><span style="width: 150px" data-hover="Address book">Address book</span></a>
                </div>
            </div>



             <!--TRANSACTION LIST START-->

            <div class="col-md-12 subsection wallet-panel">
                <h3 class="subsection-head">Transaction list</h3>
                <div class="subsection-body">
                    <div class="row">
                        <div class="col-md-12 transactions-table">




                            <table class="table ">
                                <thead>
                                <tr style="font-family: sourceSansPro-Regular;">
                                    <th style="width: 5%"class="text-muted">#</th>
                                    <th style="width: 20%">TxHash</th>
                                    <th style="width: 19%">From</th>
                                    <th style="width: 19%">To</th>
                                    <th style="width: 7%;">Amount</th>
                                    <th style="width: 10%">Date</th>
                                    <th style="width: 10%;">Status</th>
                                    <th style="width: 10%">Confirmations</th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="tx in txCtrl.transactions">
                                    <th>{{$index + 1}}</th>
                                    <td><a class="table-link" href="https://blockexplorer.com/tx/{{tx.tx_hash}}">{{tx.tx_hash}}</a></td>
                                    <td><a href="https://blockexplorer.com/address/{{tx.source_address}}">{{tx.source_address}}</a></td>
                                    <td><a href="https://blockexplorer.com/address/{{tx.destination_address}}">{{tx.destination_address}}</a></td>
                                    <td style="font-family: sourceSansPro-Semibold">{{tx.amount}}</td>
                                    <td>{{tx.created_at | date: 'short'}}</td>
                                    <td ng-if="tx.status ==='Confirmed'" class="text-success">{{tx.status}}</td>
                                    <td ng-if="tx.status ==='Prepared'" class="text-warning">{{tx.status}}</td>
                                    <td ng-if="tx.status ==='Unconfirmed'" class="text-danger">{{tx.status}}</td>
                                    <td ng-if="tx.status ==='Signed'" class="text-info">{{tx.status}}</td>
                                    <td>{{tx.confirmations}}</td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                    <h4></h4>
                </div>
            </div>
        </div>
    </div>


</div>


</div>