<div class="container-fluid">

    <div class="row">
        <div class="col-md-8 col-md-offset-2 main-section" style="color: whitesmoke; padding-top: 150px;">

            <h1 style="letter-spacing: 0.2em; font-family: sourceSansPro-ExtraLight; margin-bottom: 30px;">REGISTER NEW ACCOUNT</h1>
                <div class="col-md-4 col-md-offset-4">
                    <form name="form" ng-submit="$ctrl.register()" role="form">
                        <!--<div class="form-group" ng-class="{ 'has-error': form.firstName.$dirty && form.firstName.$error.required }">-->
                            <!--<h4>First name</h4>-->
                            <!--<input style="border-radius: 2px;" class="form-control input-lg text-center" type="text" name="firstName" id="firstName" class="form-control" ng-model="$ctrl.user.firstName" required />-->
                            <!--<span ng-show="form.firstName.$dirty && form.firstName.$error.required" class="help-block">First name is required</span>-->
                        <!--</div>-->
                        <!--<div class="form-group" ng-class="{ 'has-error': form.lastName.$dirty && form.lastName.$error.required }">-->
                            <!--<h4>Last name</h4>-->
                            <!--<input style="border-radius: 2px;" class="form-control input-lg text-center" type="text" name="lastName" id="lastName" class="form-control" ng-model="$ctrl.user.lastName" required />-->
                            <!--<span ng-show="form.lastName.$dirty && form.lastName.$error.required" class="help-block">Last name is required</span>-->
                        <!--</div>-->
                        <div class="form-group" ng-class="{ 'has-error': form.email.$dirty && form.email.$error.required}">
                            <h4>E-mail address</h4>
                            <input style="border-radius: 2px;" class="form-control input-lg text-center" type="text" name="email" id="email" class="form-control" ng-model="$ctrl.user.email" required />
                            <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">E-mail address is required</span>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required}">
                            <h4>Password</h4>
                            <input style="border-radius: 2px;" class="form-control input-lg text-center" type="password" name="password" id="password" class="form-control" ng-model="$ctrl.user.password" required />
                            <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
                        </div>
                        <div class="form-actions">
                            <a href="#!/start">
                            <button ng-disabled="form.$invalid" style="margin-top: 30px; border-radius: 50px;" type="submit" class="btn btn-lg btn-default">Register new account <span class="glyphicon glyphicon-circle-arrow-right"></span></button>
                            <!--<img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />-->
                            </a>
                            <a href="#!/start"><br>
                                <button class="btn btn-link">Cancel</button>
                            </a>
                        </div>
                    </form>

                </div>
        </div>
    </div>

</div>